client
dev tun
proto {{ openvpn_protocol }}
remote {{ public_dns_record }} {{ openvpn_port }}
cipher {{ openvpn_cipher }}
auth {{ openvpn_auth_digest }}
resolv-retry infinite
nobind
persist-key
persist-tun
ns-cert-type server
comp-lzo
key-direction 1
verb 3

#If you want that all of your Internet traffic pass 
#through the VPN server then enable this
;route {{ ansible_default_ipv4.address }} 255.255.255.255 net_gateway

# Private Subnet(s) in VPC that you want to reach through OPENVPN 
{% for net in private_networks %}
route {{ net }} 255.255.255.0 vpn_gateway
{% endfor %}


# If you'd like to enable 2FA support, uncomment the following line
;auth-user-pass

<ca>
{{ openvpn_ca_contents.stdout }}
</ca>

<cert>
{{ item[1].stdout }}
</cert>

<key>
{{ item[2].stdout }}
</key>

<tls-auth>
{{ openvpn_hmac_firewall_contents.stdout }}
</tls-auth>
