apiVersion: v1
kind: LimitRange
metadata:
  name: {{ env }}-limits
spec:
  limits:
    - type: Container
      min:
        cpu: {{ resources[env].limits.cpu }} 
        memory: {{ resources[env].limits.memory }}
