apiVersion: v1
kind: ReplicationController
metadata:
  name: {{ env }}-{{ service }}-{{ tag }}
  namespace: {{ env }}
  labels:
    app: {{ env }}-{{ service }}
    version: {{ tag }}
spec:
  replicas: {{ resources[env].replicas }}
  selector:
    app: {{ env }}-{{ service }}
    version: {{ tag }}
  template:
    metadata:
      labels:
        app: {{ env }}-{{ service }}
        version: {{ tag }}
      namespace: {{ env }}
    spec:
      containers:
      - name: {{ env }}-{{ service }}
        image: {{ image_stub }}/{{ repo }}:{{ image_tag }}
        ports:
        - containerPort: {{ container_port }}
        env:
{% for key, value in env_vars.iteritems() %}
        - name: "{{ key }}"
          value: "{{ value }}"
{% endfor %}
      imagePullSecrets:
      - name: {{ env }}-secret
      


