apiVersion: v1
kind: ResourceQuota
metadata:
  name: {{ env }}-quota
spec:
  hard:
    cpu: "20"
    memory: 1Gi
    pods: "10"
    replicationcontrollers: "20"
    resourcequotas: "1"
    services: "5"