apiVersion: v1
kind: Service
metadata:
  name: {{ env }}-{{ service }}
  namespace: {{ env }}
  labels:
    app: {{ env }}-{{ service }}
spec:
  ports:
    - targetPort: {{ container_port }}
      port: {{ host_port }}
  selector:
    app: {{ env }}-{{ service }}
